.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--space-200);
  font-size: 1.6rem;
}
.form button {
  cursor: pointer;
  background-color: var(--pink);
 color:var(--white);
  padding: 0.25rem 1.4rem;
  border-radius: 20px;
  font-weight: bold;
  margin-left:var(--space-200);
}
.form button:hover,
.form button:active {
  background-color: var(--pink-200);
}